In [1]:
import pandas as pd
import os

In [2]:
if '__file__' in globals():
    current_dir = os.path.dirname(__file__)
else:
    current_dir = os.getcwd()

In [3]:
bestsellers = os.path.join(current_dir, "datasets", "bestsellers.csv")
pokemon= os.path.join(current_dir, "datasets", "Pokemon_full.csv")

In [4]:
df_books = pd.read_csv(bestsellers)
df_pokemon = pd.read_csv(pokemon)

In [5]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         550 non-null    object
 1   Author       550 non-null    object
 2   User Rating  550 non-null    float64
 3   Reviews      550 non-null    int64
 4   Price        550 non-null    int64
 5   Year         550 non-null    int64
 6   Genre        550 non-null    object
dtypes: float64(1), int64(3), object(3)
memory usage: 30.2+ KB

In [6]:
df_pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890 entries, 0 to 889
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            890 non-null    object
 1   pokedex id      890 non-null    int64
 2   height          890 non-null    int64
 3   weight          890 non-null    int64
 4   type            890 non-null    object
 5   secundary type  439 non-null    object
 6   hp              890 non-null    int64
 7   attack          890 non-null    int64
 8   defense         890 non-null    int64
 9   sp atk          890 non-null    int64
 10  sp def          890 non-null    int64
 11  speed           890 non-null    int64
dtypes: int64(9), object(3)
memory usage: 83.6+ KB

In [7]:
df_pokemon.describe()

,pokedex id,height,weight,hp,attack,defense,sp atk,sp def,speed
count,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000,890.000000
mean,445.500000,11.821348,629.897753,68.702247,76.300000,71.819101,69.548315,69.858427,65.650562
std,257.065167,12.380479,1172.367175,25.844566,29.592069,29.543887,29.351989,27.056001,28.060803
min,1.000000,1.000000,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000
25%,223.250000,5.000000,85.000000,50.000000,55.000000,50.000000,45.250000,50.000000,45.000000
50%,445.500000,10.000000,268.000000,65.000000,75.000000,67.000000,65.000000,65.000000,65.000000
75%,667.750000,15.000000,630.000000,80.000000,95.000000,90.000000,90.000000,85.000000,85.000000
max,890.000000,200.000000,9999.000000,255.000000,181.000000,230.000000,173.000000,230.000000,160.000000

In [8]:
df_pokemon.tail()

,name,pokedex id,height,weight,type,secundary type,hp,attack,defense,sp atk,sp def,speed
885,drakloak,886,14,110,dragon,ghost,68,80,50,60,50,102
886,dragapult,887,30,500,dragon,ghost,88,120,75,100,75,142
887,zacian,888,28,1100,fairy,NaN,92,130,115,80,115,138
888,zamazenta,889,29,2100,fighting,NaN,92,130,115,80,115,138
889,eternatus,890,200,9500,poison,dragon,140,85,95,145,95,130

In [9]:
df_pokemon.memory_usage(deep=True)

Index               128
name              57616
pokedex id         7120
height             7120
weight             7120
type              55409
secundary type    41915
hp                 7120
attack             7120
defense            7120
sp atk             7120
sp def             7120
speed              7120
dtype: int64

In [11]:
df_pokemon['type'].value_counts()

type
water       123
normal      109
grass        86
bug          75
fire         58
psychic      57
rock         50
electric     48
poison       35
ground       35
dark         35
fighting     34
ghost        30
dragon       30
steel        30
ice          27
fairy        21
flying        7
Name: count, dtype: int64

In [12]:
df_pokemon['secundary type'].value_counts()

secundary type
flying      95
poison      34
fairy       33
ground      32
psychic     32
dragon      25
fighting    25
steel       24
ghost       20
grass       19
water       18
dark        18
rock        15
fire        13
ice         13
bug          9
electric     8
normal       6
Name: count, dtype: int64